version: "2.4"

services:
        php-apache:
                build:
                        context: ./apache-php
                        target: dev
                ports:
                        - "80:80"  
                # for prod take off the volumes
                volumes:
                        - ./apache-php/MediterPourGrandir/:/var/www/html/  
        mysql:
                image: mysql:5.6.40
                #restart: always
                environment:
                        - MYSQL_ROOT_PASSWORD=root
                        - MYSQL_DATABASE=monsupersite
#                       - MYSQL_USER=root
                        - MYSQL_PASSWORD=root
                ports:
                        - "3306:3306"
                volumes:
                        - mysql-db:/var/lib/mysql
         # postfix:
         #      image: juanluisbaptiste/postfix:latest
         #      environment:
         #              - SMTP_SERVER=smtp.mycompany.com
         #              - SMTP_USERNAME=user@mycompany.com
         #              - SMTP_PASSWORD=changeme
         #              - SERVER_HOSTNAME=localhost                
         #      expose: 
         #              - "25"         
                          
volumes: 
      mysql-db:
