// .section-about {
//     background-color: $color-grey-light-2;
//     padding: 20rem 0 0 0;
//     margin-top: -20vh;
//     @include respond(tab-port) {
//         padding: 20rem 0;
//     }
// }
.section-about {
    background-color: $color-grey-light-2;
    padding: 5rem 0 10rem 0;
    position: relative;
    min-height: 100rem; // useless...

    @include respond(tab-port) {
        padding: 3rem 0;
    }
}

.benefMedit {
	// background-color: "green";
	padding: 2rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.8rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
}

.section-stories {
    // position: relative; as the bg-video is absolute and should appear behind this section
    background-color: $color-grey-light;
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-book {
    padding: 10rem 10rem;
    background-color: $color-grey-light-2;
    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-introduction {
	background-color: $color-grey-light;
    	position: relative;
    	padding: 15rem 0;

    	@include respond(tab-port) {
        	padding: 10rem 0;
    	}
}

.section-explication {
	background-color: $color-grey-light;
    	position: relative;
    	padding: 15rem 0;

    	@include respond(tab-port) {
        	padding: 10rem 0;
    	}
}

.section-formation {
    background-color: $color-grey-light-2;
        position: relative;
        padding: 15rem 0;

        @include respond(tab-port) {
            padding: 10rem 0;
        }
}

