.section-report {
	background-color: $color-grey-light-2;
    	position: relative;
    	padding: 20rem 0;

    	@include respond(tab-port) {
        	padding: 10rem 0;
    	} 
}

.report {
	width: 50%;
    	margin: 0 auto;
    	box-shadow: 0 3rem 6rem rgba($color-black, .1);
    	background-color: rgba($color-white, .6);
    	border-radius: 3px;
    	padding: 2rem 6rem 12rem 6rem;
    	font-size: 2rem;
    	border: $color-grey-dark-2 solid 2px;
     
    	@include respond(tab-port) {
        	width: 100%;
        	padding: 4rem;
        	padding-left: 7rem;
    	}
    	@include respond(phone) {
        	transform: skewX(0);
    	}

	&__box {
	        text-align: center;
	        position: absolute;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%, -50%);
	}
}

.section-quisuisje {
	background-color: $color-grey-light-2;
    	// position: relative;
    	padding: 10rem;

    	@include respond(tab-port) {
        	padding: 10rem 5rem;
    	}
}

.textinstructeur {
	// background-color: $color-grey-light-2;
	display: flex;
	// flex-basis:0;
	// margin: auto;
	justify-content: space-between;
    	padding: 5rem 0;
	margin: 0;

	&_info{
		min-width:50%;

	}
	&_picture{
		display: block;
		margin: 0;
		// width:0;
	}

    	@include respond(tab-port) {
    	}
}
