.header {
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba($color-tertiary-dark, 0.801), rgba($color-tertiary-light, 0.801)), url(../images/welcome/header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    &__text-box {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.logo:hover {
    animation: moveInRight 2s ease-out;
}
