.btn {
    // this &, alone is to activate the btn as well. bc a button do not have &:link et &:visited sudo
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.4rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        /*to stop potentiel shaking on anumation, we add this ligne*/
        backface-visibility: hidden;
        /*transition is the simple way to create effects, all is to select all properties, and 2s for the time */
        transition: all .2s;
        /*as we want the ::after (which have a position:absolute) to refer to this element*/
        position: relative;
        font-size: $default-font-size;
        // change for the button element (car jusqu a present all button was in fact some <a href...>)
        border: none;
        cursor: pointer;
	opacity: 1;
    }
    &:hover {
        transform: translateY(-3px);
        //the mix of the color, rgba et rgb works only with sass
        box-shadow: 0 1rem 2rem rgba($color-white, 1);
        &::after {
            /*grossit 1.5 fois. the simple one: transform: scale(1.5);
            more complexe:*/
            transform: scaleX(1.4) scaleY(1.6);
            /*that is the trick to fade something up*/
            opacity: 0;
        }
    }
    /*!!! ici on part du :hover . Donc le -1 aura un effet de descendre*/
    &:focus,
    &:active {
        outline: none;
        transform: translateY(-1px);
        /*here is half of the hover value, as we clicked on it*/
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    &--blue {
        background-color: $color-tertiary-dark;
        color: $color-white;
        &::after {
            background-color: $color-tertiary-light;
        }
    }
    &::after {
        /*for this sudo effect, the content: and display: property have to appear, even empty*/
        content: '';
        /*as the btn is already a inline-block*/
        display: inline-block;
        /*pourcentage par rapport au parent donc au &*/
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        /*this is the start of the effect link to &:hover::after*/
        transition: all .4s;
    }
    &--animated {
        /*last value is a start delay, so 0,75s*/
        animation: moveInButton .5s ease-out .75s;
        /*permet de palier au delay, d'initialiser le stade initial de depart d'animation sans delay.*/
        animation-fill-mode: backwards;
    }
}

.btn-text-resize-big {
    &:link,
    &:visited {
        font-size: 4rem;
	margin: 3rem 0;
        color: $color-tertiary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-tertiary-dark;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-tertiary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}


.btn-text-resize-meddium {
    &:link,
    &:visited {
	background-color: $color-tertiary-dark;
        color: $color-white;
        font-size: 3rem;
	margin: 2rem 0rem;
        display: inline-block;
        text-decoration: none;
        padding: 2px 1.5rem;
        transition: all .2s;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}



.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-tertiary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-tertiary-dark;
        padding: 3px;
        transition: all .2s;
	margin: .3rem;
    }
    &:hover {
        background-color: $color-tertiary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-link {
    &:link,
    &:visited {
        color: $color-tertiary-dark;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
	margin: 0 0 .6rem .6rem;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-grey-light;
        // color: $color-white!important;
        text-decoration: none!important;
        border-bottom: 1px solid $color-secondary-dark;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-choice {
    &:link,
    &:visited {
	font-size: 2rem;
	background-color: $color-secondary-dark;
        color: $color-white;
        font-size: $default-font-size;
        display: inline-block;
        text-decoration: none;
        // border: 2px solid $color-secondary-dark;
        padding: 3px 1rem;
        transition: all .2s;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-choice-btn {
	font-size: 2rem;
	background-color: $color-tertiary-dark;
        color: $color-white;
        font-size: $default-font-size;
        display: inline-block;
        text-decoration: none;
        // border: 2px solid $color-secondary-dark;
        padding: 1px 1rem;
        transition: all .2s;
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

