#list{
	background-color: $color-grey-light-1;
	margin: 0 2rem 0 0;
}

.list_title{	  
	background-color:$color-tertiary-light;
	min-height: 4rem;
	padding: 1rem 1rem;
	color: white;
}

.list_title h3 {
	font-size: 2rem
}

.list_lesson{
	min-height: 3rem;
	padding: 1rem 1rem;
}

.list_lesson p,
.list_lesson p a{
	font-size: 1.2rem;
}

