// the !important key word SHOULD NOT be use, but we want utilities class to ever right anything.  
.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-top-small {
    margin-top: 1.5rem !important;
}

.u-margin-top {
    margin-top: 4rem !important;
    @include respond(tab-port) {
        margin-bottom: 2rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-verybig {
    margin-top: 17rem !important;
    @include respond(tab-port) {
        margin-bottom: 8rem !important;
    }
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-separation-section {
	width: 70%;
	color: $color-grey-dark;
	height: 1px;
	background-color: $color-grey-dark;
	margin: 0 auto; 
}

.u-margin-left-small {
    margin-left: 1.5rem !important;
}

.u-margin-left-medium {
    margin-left: 4rem !important;
    @include respond(tab-port) {
        margin-left: 3rem !important;
    }
}

.u-wrap-goback {
	padding: 1rem 0;
	margin: 1rem 0;
}

.justify-right {
	display: flex;
	justify-content: flex-end;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.justify-spacebetweenreverse {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.justify-spacebetween {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

